
<!DOCTYPE html>
<html lang="en">
<head>

    <!-- Basic Page Needs
    ================================================== -->
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>DafaGeraldinePortofolio</title>

    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="keywords" content="">

    <!-- Mobile Specific Metas
    ================================================== -->
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0">
    <meta name="apple-mobile-web-app-capable" content="yes" />

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"/>

    <!-- Favicon
    ================================================== -->
    <link rel="apple-touch-icon" sizes="180x180" href="{{url_for('static', filename='assets/img/apple-touch-icon.png')}}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{url_for('static', filename='assets/img/favicon.png')}}">

    <!-- Stylesheets
    ================================================== -->
    <!-- Bootstrap core CSS -->
    <link href="{{url_for('static', filename='assets/css/bootstrap.min.css')}}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{{url_for('static', filename='assets/css/style.css')}}" rel="stylesheet">
    <link href="{{url_for('static', filename='assets/css/responsive.css')}}" rel="stylesheet">

</head>
<body>


    <header id="masthead" class="site-header" data-anchor-target=".hero" data-top="background: rgba(255,255,255,0); padding: 30px 0; box-shadow: 0px 0px 20px 6px rgba(0, 0, 0, 0);" data-top-bottom="background: rgba(255,255,255,1); padding: 10px 0; box-shadow: 0px 0px 20px 6px rgba(0, 0, 0, 0.2);">
        <nav id="primary-navigation" class="site-navigation">
            <div class="container">
                <div class="navbar-header page-scroll">

                    <button type="button" class="navbar-toggle collapsed" data-target="#portfolio-perfect-collapse" aria-expanded="false" >
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>

                    <a href="#hero" class="site-logo"><img src="{{url_for('static', filename='assets/img/logo.png')}}" alt="logo"></a>

                </div><!-- /.navbar-header -->

                <div class="main-menu" id="portfolio-perfect-collapse">

                    <ul class="nav navbar-nav navbar-right">

                        <li class="page-scroll"><a href="#hero">Home</a></li>
                        <li class="page-scroll"><a href="#about">About</a></li>
                        <li class="page-scroll"><a href="#service">Service</a></li>
                        <li class="page-scroll"><a href="#portfolio">Portofolio</a></li>
                        <li class="page-scroll"><a href="#contact">Contact</a></li>

                    </ul><!-- /.navbar-nav -->

                </div><!-- /.navbar-collapse -->

            </div>
        </nav><!-- /.primary-navigation -->
    </header><!-- /#header -->

    <div id="hero" class="hero">
        <div class="container">
            <div class="row">

                <div class="text-center" style="padding-top: 20%;">
                    <img src="{{url_for('static', filename='assets/img/me.jpg')}}" alt="dafa" style="border-radius: 50%; width: 200px; height: 200px;">
                    <h1 style="padding-top: 10px;">Dafa Geraldine</h1>
                    <p class="job-title">Software Engineer</p>
                    <a href="#contact" class="btn btn-fill">Hire me</a>
                    <div class="clearfix visible-xxs"></div>
                    <a href="#portfolio" class="btn btn-border">Explore more</a>
                </div>

            </div>
        </div>
    </div><!-- /.hero -->


    <main id="main" class="site-main">

        <section id="about" class="site-section section-about text-center">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-md-offset-3">
                        <h2>About</h2>
                        <img src="{{url_for('static', filename='assets/img/lines.svg')}}" class="img-lines" alt="lines">
                        <p>Hello! I'm Dafa Geraldine, a Software Engineer and I'm Computer Engineering bachelor, I was graduated at 2021.
                            I have some work experience that you can see it in my recent works section. I have interest in software development.
                            especially mobile apps, and also have interest in IoT (Internet of Things).</p>
                        <a href="https://drive.google.com/file/d/1AptgPPNd0Rsoo8nFxCPfExgKwcYPO-M7/view?usp=share_link" class="btn btn-fill" target="_blank" download>Download my cv</a>
                    </div>
                </div>
            </div>
        </section><!-- /.secton-about -->

        <section class="site-section section-skills">
            <div class="container">
                <div class="text-center">
                    <h3>My Skills</h3>
                    <img src="{{url_for('static', filename='assets/img/lines.svg')}}" class="img-lines" alt="lines">
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="skill">
                            <h4>Html/css</h4>
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" data-transitiongoal="70"></div><!-- /.progress-bar -->
                            </div><!-- /.progress -->
                        </div><!-- /.skill -->
                        <div class="skill">
                            <h4>Python</h4>
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" data-transitiongoal="85"></div><!-- /.progress-bar -->
                            </div><!-- /.progress -->
                        </div><!-- /.skill -->
                    </div>
                    <div class="col-md-4">
                        <div class="skill">
                            <h4>Javascript</h4>
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" data-transitiongoal="70"></div><!-- /.progress-bar -->
                            </div><!-- /.progress -->
                        </div><!-- /.skill -->
                        <div class="skill">
                            <h4>Flutter</h4>
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" data-transitiongoal="85"></div><!-- /.progress-bar -->
                            </div><!-- /.progress -->
                        </div><!-- /.skill -->
                    </div>
                    <div class="col-md-4">
                        <div class="skill">
                            <h4>Php</h4>
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" data-transitiongoal="85"></div><!-- /.progress-bar -->
                            </div><!-- /.progress -->
                        </div><!-- /.skill -->
                        <div class="skill">
                            <h4>Java</h4>
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" data-transitiongoal="85"></div><!-- /.progress-bar -->
                            </div><!-- /.progress -->
                        </div><!-- /.skill -->
                    </div>
                </div>
            </div>
        </section><!-- /.secton-skills -->

        <section id="service" class="site-section section-services overlay text-center">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h3>What i do</h3>
                        <img src="{{url_for('static', filename='assets/img/lines.svg')}}" class="img-lines" alt="lines">
                    </div>
                    <div class="col-sm-4">
                        <div class="service">
                            <img src="{{url_for('static', filename='assets/img/front-end.svg')}}" alt="Front End Developer">
                            <h4>Mobile apps</h4>
                            <p>For Mobile apps project, usually i'm using flutter , kotlin and java. I have experience in developing mobile apps using both of them. project that i've done like creating mobile apps for reporting, e-commerce,monitoring and much more</p>
                        </div><!-- /.service -->
                    </div>
                    <div class="col-sm-4">
                        <div class="service">
                            <img src="{{url_for('static', filename='assets/img/back-end.svg')}}" alt="Back End Developer">
                            <h4>Desktop apps</h4>
                            <p>for desktop apps project, usually i'm using java Netbeans. and I have experience in developing desktop apps for invoice control, reporting, tax management and much more/</p>
                        </div><!-- /.service -->
                    </div>
                    <div class="col-sm-4">
                        <div class="service">
                            <img src="{{url_for('static', filename='assets/img/consultancy.svg')}}" alt="Coding">
                            <h4>Back end</h4>
                            <p>As well as providing front end development services, I also creating REST-API using python flask and php. and i'm familiar with MySQL, SQL Server, firebase, Redis and MQTT.</p>
                        </div><!-- /.service -->
                    </div>
                </div>
            </div>
        </section><!-- /.secton-services -->

        <section id="portfolio" class="site-section section-portfolio">
            <div class="container">
                <div class="text-center">
                    <h3>My recent Works</h3>
                    <img src="{{url_for('static', filename='assets/img/lines.svg')}}" class="img-lines" alt="lines">
                </div>
                <div class="row">
                    <div class="col-md-4 col-xs-6">
                        <div class="portfolio-item">
                            <img src="{{url_for('static', filename='assets/img/pomilogo.jpg')}}" class="img-res" alt="">
                            <div class="portfolio-item-info">
                                <h4>POMI Monitoring apps</h4>
                                <a href="#" data-toggle="modal" data-target="#portfolioItem1"><span class="glyphicon glyphicon-eye-open"></span></a>
                                <a href="{{url_for('pomimonitoring')}}"><span class="glyphicon glyphicon-link"></span></a>
                            </div><!-- /.portfolio-item-info -->
                        </div><!-- /.portfolio-item -->
                    </div>
                    <div class="col-md-4 col-xs-6">
                        <div class="portfolio-item">
                            <img src="{{url_for('static', filename='assets/img/splhydro.jpg')}}" class="img-res" alt="">
                            <div class="portfolio-item-info">
                                <h4>Hydroponic Apps</h4>
                                <a href="#" data-toggle="modal" data-target="#portfolioItem2"><span class="glyphicon glyphicon-eye-open"></span></a>
                                <a href="{{url_for('hydroponic')}}"><span class="glyphicon glyphicon-link"></span></a>
                            </div><!-- /.portfolio-item-info -->
                        </div><!-- /.portfolio-item -->
                    </div>
                    <div class="col-md-4 col-xs-6">
                        <div class="portfolio-item">
                            <img src="{{url_for('static', filename='assets/img/ansorysplash.jpg')}}" class="img-res" alt="">
                            <div class="portfolio-item-info">
                                <h4>Ansory Maps</h4>
                                <a href="#" data-toggle="modal" data-target="#portfolioItem3"><span class="glyphicon glyphicon-eye-open"></span></a>
                                <a href="{{url_for('ansory')}}"><span class="glyphicon glyphicon-link"></span></a>
                            </div><!-- /.portfolio-item-info -->
                        </div><!-- /.portfolio-item -->
                    </div>
                    <div class="col-md-4 col-xs-6">
                        <div class="portfolio-item">
                            <img src="{{url_for('static', filename='assets/img/splash.jpg')}}" class="img-res" alt="">
                            <div class="portfolio-item-info">
                                <h4>Masuya Online</h4>
                                <a href="#" data-toggle="modal" data-target="#portfolioItem4"><span class="glyphicon glyphicon-eye-open"></span></a>
                                <a href="{{url_for('masuyaonline')}}"><span class="glyphicon glyphicon-link"></span></a>
                            </div><!-- /.portfolio-item-info -->
                        </div><!-- /.portfolio-item -->
                    </div>
                    <div class="col-md-4 col-xs-6">
                        <div class="portfolio-item">
                            <img src="{{url_for('static', filename='assets/img/desktop.jpg')}}" class="img-res" alt="">
                            <div class="portfolio-item-info">
                                <h4>Masuya Desktop</h4>
                                <a href="#" data-toggle="modal" data-target="#portfolioItem5"><span class="glyphicon glyphicon-eye-open"></span></a>
                                <a href="#"><span class="glyphicon glyphicon-link"></span></a>
                            </div><!-- /.portfolio-item-info -->
                        </div><!-- /.portfolio-item -->
                    </div>
                    <div class="col-md-4 col-xs-6">
                        <div class="portfolio-item">
                            <img src="{{url_for('static', filename='assets/img/MasuyaSO.jpg')}}" class="img-res" alt="">
                            <div class="portfolio-item-info">
                                <h4>Masuya Sales App</h4>
                                <a href="#" data-toggle="modal" data-target="#portfolioItem6"><span class="glyphicon glyphicon-eye-open"></span></a>
                                <a href="{{url_for('masuyasalesapp')}}"><span class="glyphicon glyphicon-link"></span></a>
                            </div><!-- /.portfolio-item-info -->
                        </div><!-- /.portfolio-item -->
                    </div>
                </div>
            </div>
        </section><!-- /.secton-portfolio -->

        <section class="site-section section-counters text-center">
            <div class="container">
                <div class="row">
                    <div class="col-sm-4 col-xs-12">
                        <p class="counter start" data-to="3" data-speed="2000">0</p>
                        <h4>Years Experience</h4>
                    </div>
                    <div class="col-sm-4 col-xs-12">
                        <p class="counter start" data-to="6" data-speed="2000">0</p>
                        <h4>Projects Delivered</h4>
                    </div>
                    <div class="col-sm-4 col-xs-12">
                        <p id="infinity" class="counter" data-from="0" data-to="1" data-speed="1000">0</p>
                        <h4>Seconds on this site!<br>What are you waiting for?</h4>
                    </div>
                </div>
            </div>
        </section><!-- /.section-counters -->

        <section id="contact" class="site-section section-form text-center">
            
    <div class="container">
        {% with messages = get_flashed_messages(category_filter=["success"]) %}
        {% if messages %}
        {% for message in messages %}
        <div class="alert alert-success" role="alert">
          {{message}}
        </div>
        {% endfor %}
        {% endif %}
        {% endwith %}
    </div>

    <div class="container">
        {% with messages = get_flashed_messages(category_filter=["danger"]) %}
        {% if messages %}
        {% for message in messages %}
        <div class="alert alert-danger" role="alert">
            {{message}}
          </div>
        {% endfor %}
        {% endif %}
        {% endwith %}
    </div>

    <div class="container">
        {% with messages = get_flashed_messages(category_filter=["warn"]) %}
        {% if messages %}
        {% for message in messages %}
        <div class="alert alert-warning" role="alert">
            {{message}}
          </div>
        {% endfor %}
        {% endif %}
        {% endwith %}
    </div>

   
            <div class="container">

                <h3>Contact</h3>
                <img src="{{url_for('static', filename='assets/img/lines.svg')}}" class="img-lines" alt="lines">
                <form method="POST">
                    <div class="row">
                        <div class="col-sm-6">
                            <input type="text" name="name" class="form-control mt-x-0" placeholder="Name" required>
                        </div>
                        <div class="col-sm-6">
                            <input type="email" name="email" class="form-control" placeholder="Email" required>
                        </div>
                        <div class="col-sm-12">
                            <textarea name="message" id="mesaage" class="form-control" placeholder="Message" required></textarea>
                        </div>
                    </div>
                    <button class="btn btn-border" type="submit">Hire Me <span class="glyphicon glyphicon-send"></span></button>
                </form>
            </div>
          
        </section><!-- /.section-form -->

    </main><!-- /#main -->

    <!-- Modals -->
    <div id="portfolioItem1" class="modal fade" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <a class="close" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span></a>
            <img class="img-res" src="{{url_for('static', filename='assets/img/pomilogo.jpg')}}" alt="">
          </div>
          <div class="modal-body">
            <h4 class="modal-title">POMI Monitoring Apps</h4>
            <p>POMI Monitoring apps, is a mobile apps with realtime monitoring generator data feature. in this project i've responsibility, to develop flutter mobile apps to retrieve realtime data from node js wbesocket. i worked as a team which is two mobile apps developer and one back end developer</p>
          </div>
          <div class="modal-footer">
            <a href="{{url_for('pomimonitoring')}}" class="btn btn-fill">Visit Page</a>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <div id="portfolioItem2" class="modal fade" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <a class="close" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span></a>
            <img class="img-res" src="{{url_for('static', filename='assets/img/splhydro.jpg')}}" alt="">
          </div>
          <div class="modal-body">
            <h4 class="modal-title">Hydroponic Apps</h4>
            <p>Hydroponic apps, is an app that created for realtime monitoring Hydroponic system, and set the setting point for microcontroller directly using mobile apps. in this project i have responsibility in developing mobile apps to retrieve data from Flask API and also retrieve realtime data directly from firebase. and also developing flask API to fetch data from firestore. and sending push notifications</p>
          </div>
          <div class="modal-footer">
            <a href="{{url_for('hydroponic')}}" class="btn btn-fill">Visit Page</a>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <div id="portfolioItem3" class="modal fade" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <a class="close" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span></a>
            <img class="img-res" src="{{url_for('static', filename='assets/img/Ansory.jpg')}}" alt="">
          </div>
          <div class="modal-body">
            <h4 class="modal-title">Ansory Maps</h4>
            <p>Ansory maps is a interactive learning apps. in this project i created mobile apps that showing interactive maps, and showing video to make student easily understand and more excited for studying history. and also there are some exam in it.</p>
          </div>
          <div class="modal-footer">
            <a href="{{url_for('ansory')}}" class="btn btn-fill">Visit Page</a>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <div id="portfolioItem4" class="modal fade" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <a class="close" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span></a>
            <img class="img-res" src="{{url_for('static', filename='assets/img/splash.jpg')}}" alt="">
          </div>
          <div class="modal-body">
            <h4 class="modal-title">Masuya Online</h4>
            <p>Masuya online is a e-commerce app, to make user can buy masuya product and other seller product using mobile app. masuya online have some feature like ordinary e-commerce app. which is transaction, tracking transaction, and selling product. but masuya online have rules that only company can sell items. and can assign PIC to manage their online shop. in this project i worked as a team, and i develop the mobile apps using kotlin and also the API using PHP</p>
          </div>
          <div class="modal-footer">
            <a href="{{url_for('masuyaonline')}}" class="btn btn-fill">Visit Page</a>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <div id="portfolioItem5" class="modal fade" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <a class="close" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span></a>
            <img class="img-res" src="{{url_for('static', filename='assets/img/desktop.jpg')}}" alt="">
          </div>
          <div class="modal-body">
            <h4 class="modal-title">Masuya Desktop</h4>
            <p>Masuya Desktop app is a desktop app, developed using JAVA NETBEANS and SQL SERVER database. masuya desktop app have some ERP feature. like creating invoice, accounting reporting, stock reporting, warehouse management and also recording tax data. in this project i worked as a team to maintenance the app and also creating new module.</p>
          </div>
          <div class="modal-footer">
            <a href="#" class="btn btn-fill">Visit Page</a>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <div id="portfolioItem6" class="modal fade" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <a class="close" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span></a>
            <img class="img-res" src="{{url_for('static', filename='assets/img/MasuyaSO.jpg')}}" alt="">
          </div>
          <div class="modal-body">
            <h4 class="modal-title">Masuya Sales App</h4>
            <p>Masuya Sales app is a mobile app, developed using JAVA and KOTLIN and using PHP API with SQL SERVER database. masuya sales app created for helping sales team to create customer order from mobile phone, and also tracking their order. masuya sales app have a otorization system to control the order, to avoid a bad debt and upnormal price. in this project i worked as a team to maintenance the app and also developing the mobile app. and also developed the API.</p>
          </div>
          <div class="modal-footer">
            <a href="{{url_for('masuyasalesapp')}}" class="btn btn-fill">Visit Page</a>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
    
   
    <footer style="background-color: black; height: 15%;">
        <div class="container" style="padding-top: 20px;">
            <div class="row">
                <div class="col-md-12 text-center">
                    <a href="https://www.instagram.com/dafageraldine_/" class="icon insta-bg"><i class="fa-brands fa-instagram" style="font-size: 21px;"></i></a>
                    <a class="icon gplus-bg" href="https://www.linkedin.com/in/dafa-geraldine-47b400195"><i class="icon-linkedin"></i></a>
                    <a href="https://wa.me/6287826116644?text=Halo dafa bisa berbicara denganmu ?" class="icon whatsapp-bg"><i class="fa-brands fa-whatsapp" style="font-size: 21px;""></i></a>
                    <a class="icon icon-up-bg" href="#hero"><i class="icon-up"></i></a>
                  </div>
                <div class="col-md-12 text-center" style="padding-top: 10px;"><h5 class="copyright">Created By Dafa Geraldine 2023.</h5></div>
            </div>
        </div>
    </footer>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="{{url_for('static', filename='assets/js/bootstrap.min.js')}}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
    <script src="{{url_for('static', filename='assets/js/skrollr.min.js')}}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-progressbar/0.9.0/bootstrap-progressbar.min.js"></script>
    <script src="{{url_for('static', filename='assets/js/jquery.countTo.min.js')}}"></script>
    <script src="{{url_for('static', filename='assets/js/script.js')}}"></script>

</body>
</html>